/* Name: Dejanae Shirley */
body{
     padding: 0px;
     font-family: Arial, Helvetica, sans-serif;
     border: 2px solid #333;
     /* box-sizing: border-box; */
     height: 100%;
}

header{
     background-color: #333;
     color: white;
     padding: 22px;
     text-align: center;
}
.container{
     display: flex; 
     justify-content: space-between;
     flex-wrap: wrap;
     max-width: 800px;
     margin: 40px auto;
}
.box{
     flex: 1px; 
     font-weight: bold;
     background-color: #f1f1f1;
     border: 1px solid #ddd;
     border-radius: 5px;
     padding: 20px;
     min-width: 200px;
     margin-bottom: 20px;
}
.box:hover{
     border: 2px solid black;
     transition: 3s;
     transform: rotate(360deg);

}
.red {
     background-color: red;
}
.blue{
     background-color: blue;
}
.green{
     background-color: green;
}
.yellow{
     background-color: yellow;
}
.orange{
     background-color: orange;
}
@media (max-width: 600px) {
     .container {
     flex-direction: column;
     }
}
